.tech-container {
  height: 100%;
  background-image: url("../../../img/thomas-kvistholt-191153.jpg");
  background-size: cover;
}

.tech-section-header {
  color: orange;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-primary-title {
  align-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
}

.tech-panel {
  height: 80%;
  border-top: 14px solid orange;
  background-color: white;
  padding: 1em;
}

.tech-line {
  color: #2f393b;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.tech-section-footer {
  margin: 1em 0;
  background-color: white;
}

.tech-items-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  grid-gap: 1.5rem;
  height: 65vh;
  margin: 0.5em 1em;
  padding: 1em;
  overflow-y: scroll;
}

.tech-items-box > div {
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .tech-items-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* HOME BUTTON
-------------------------------------------------------*/
.tech-home-button {
  border: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: Transparent;
  font-size: 18px;
  color: orange;
  transition: 0.5s;
}

.tech-home-button:hover {
  font-size: 20px;
  color: darkorange;
}
