.tech-container {
  background-image: url("../../../img/thomas-kvistholt-191153.jpg");
  background-size: cover;
}

.tech-section-header {
  color: orange;
}

.tech-primary-title {
  align-content: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
}

.tech-panel {
  border-top: 14px solid orange;
  background-color: white;
  padding: 1em;
}

.tech-line {
  color: #2f393b;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.tech-section-footer {
  margin: 1em 0;
  background-color: white;
}

.tech-items-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid Transparent;
  grid-gap: 1.5rem;
  height: 500px;
  margin: 0.5em 1em;
  padding: 1em;
  overflow-y: scroll;
}

/* HOME BUTTON
-------------------------------------------------------*/
.tech-home-button {
  border: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: Transparent;
  font-size: 18px;
  color: orange;
  transition: 0.5s;
}

.tech-home-button:hover {
  font-size: 20px;
  color: darkorange;
}
