.about-container {
  height: 100%;
  background-image: url("../../../img/thomas-kvistholt-191153.jpg");
  background-size: cover;
}

.about-content-row {
  height: inherit;
}

.about-panel-col {
  height: inherit;
}

/* ABOUT PANEL + CONTENTS
-------------------------------------------------------*/
.about-panel {
  background-color: white;
  border-left: 14px solid orange;
  height: inherit;
}

.about-information {
  background-color: Transparent;
  font-family: 'Josefin Sans', sans-serif;
  margin: 1rem;
  padding: 1rem;
}

.about-information > h1 {
  font-size: 45px;
  color: #2f393b;
}

.about-information > hr {
  background-color: orange;
  height: 5px;
  border: 0px;
  border-radius: 2px;
}

.about-information > p {
  color: #2f393b;
  margin: 2em 1em;
  font-size: 1em;
}


/* HOME BUTTON
-------------------------------------------------------*/
.about-route-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-route-container {
  background-color: Transparent;
  transform: rotate(-90deg);
}

.about-home-button {
  font-family: 'Josefin Sans', sans-serif;
  border: 0;
  background-color: Transparent;
  font-size: 18px;
  color: orange;
  transition: 0.5s;
}

.about-home-button:hover {
  font-size: 20px;
  color: darkorange;
}
