.home-container {
  height: 100%;
  display: grid;
}

#about-link {
  transform: rotate(-90deg);
}

#portfolio-link {
  transform: rotate(90deg);
}

/* LOGO BOX CONTENTS
--------------------------------------------------*/
.logo-box {
  background-color: hsla(168, 3%, 26%, 0.68);
  color: white;
  padding: 0.5em;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}

.primary-title {
  margin: 0.1em;
  padding: 0.1em;
  text-align: center;
}

.secondary-title {
  margin: 0.1em;
  padding: 0.1em;
  text-align: center;
  color: orange;
}

/* GENERIC BUTTON STYLING
----------------------------------------------------*/
.home-link {
  color: white;
  background-color: Transparent;
  font-size: 21px;
  border: 0px;
  transition: 0.5s;
}
.home-link:hover {
  color: orange;
}
