.home-container {
  height: 100%;
  display: grid;
  background-image: url("../../../img/thomas-kvistholt-191153.jpg");
  background-size: cover;
  border: 2em solid white;
}

.contact-link-container {
  padding-bottom: 1.5em;
}

.tech-link-container {
  padding-top: 1.5em;
}

/* SECTION LINK IDS
--------------------------------------------------*/
#tech-link {
  background-color: hsla(168, 3%, 26%, 0.9);
}


#about-link {
  background-color: hsla(168, 3%, 26%, 0.9);
  transform: rotate(-90deg);
}

#portfolio-link {
  background-color: hsla(168, 3%, 26%, 0.9);
  transform: rotate(90deg);
}

#contact-link {
  background-color: hsla(168, 3%, 26%, 0.9);
}

.navbar {
  display: none;
}

@media screen and (max-width: 800px) {
  .home-container {
    border: 0px;
  }

  #tech-link, #about-link, #portfolio-link, #contact-link {
    display: none;
  }

  .navbar {
    display: block;
  }
}

/* LOGO BOX CONTENTS
--------------------------------------------------*/
.logo-box {
  background-color: hsla(168, 3%, 26%, 0.80);
  padding: 0.5em;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 580px) {
  .logo-box {
    max-width: 300px;
  }
}

.primary-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  color: white;
  margin: 0.1em;
  padding: 0.1em;
  text-align: center;
}

.secondary-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  margin: 0.1em;
  padding: 0.1em;
  text-align: center;
  color: orange;
}

/* GENERIC BUTTON STYLING
----------------------------------------------------*/
.home-link {
  font-family: 'Josefin Sans', sans-serif;
  color: orange;
  background-color: Transparent;
  font-size: 20px;
  border: 0px;
  transition: 0.4s;
  padding: 0.25em;
}
.home-link:hover {
  color: white;
  font-size: 24px;
  padding: 1em;
}
