.portfolio-container {
  height: 100%;
  background-image: url("../../../img/thomas-kvistholt-191153.jpg");
  background-size: cover;
}

.portfolio-content-row {
  height: 100%;
}

/* PORTFOLIO PANEL + CONTENTS
-------------------------------------------------------*/
.portfolio-panel {
  background-color: white;
  border-right: 14px solid orange;
}

.portfolio-information {
  background-color: Transparent;
  margin: 1rem;
  padding: 1rem;
}

.portfolio-information > h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  color: #2f393b;
}

.portfolio-information > hr {
  background-color: orange;
  height: 5px;
  border: 0px;
  border-radius: 2px;
}

.portfolio-information > p {
  color: #2f393b;
}

.portfolio-items-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid Transparent;
  grid-gap: 1.5rem;
  height: 500px;
  padding: 1em;
  overflow-y: scroll;
}

/* HOME BUTTON
-------------------------------------------------------*/
.portfolio-route-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-route-container {
  background-color: Transparent;
  transform: rotate(90deg);
}

.portfolio-home-button {
  font-family: 'Josefin Sans', sans-serif;
  border: 0;
  background-color: Transparent;
  font-size: 18px;
  color: orange;
  transition: 0.5s;
}

.portfolio-home-button:hover {
  font-size: 20px;
  color: darkorange;
}
