body {
  margin: 0;
}

.portfolio-container {
  display: flex;
}

.portfolio-img {
  width: 50vw;
}

@media (max-width: 700px) {
  .portfolio-img {
    width: 0vw;
  }
}

/* PORTFOLIO PANEL + CONTENTS
-------------------------------------------------------*/
.portfolio-panel {
  display: flex;
  background-color: white;
  min-height: 100vh;
  justify-content: space-between;
  border-right: 10px solid orange;
}

.portfolio-information {
  background-color: Transparent;
  margin: 1rem;
  padding: 1rem;
}

.portfolio-information > h1 {
  color: #2f393b;
}

.portfolio-information > hr {
  background-color: orange;
  height: 5px;
  border: 0px;
  border-radius: 2px;
}

.portfolio-information > p {
  color: #2f393b;
}

.portfolio-items-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid Transparent;
  grid-gap: 1.5rem;
  height: 500px;
  padding: 1em;
  overflow-y: scroll;
}

/* HOME BUTTON
-------------------------------------------------------*/
.portfolio-button-div {
  background-color: white;
  align-self: center;
}

.portfolio-home-button {
  font-size: 17px;
  margin-top: 0.5em;
  color: white;
  background-color: orange;
  border: 0;
  padding: 1em;
  transform: rotate(90deg);
  border-radius: 10px 10px 0px 0px;
  transition: 0.5s;
}

.portfolio-home-button:hover {
  color: orange;
  background-color: white;
  border: 2px solid orange;
}
