/* CONTACT EMAIL FORM
-------------------------------------------------------*/
.contact-textarea {
  border: 2px solid #2f393b;
  width: 97.5%;
  resize: vertical;
  color: #2f393b;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

.contact-input {
  width: 100%;
}

.contact-input > label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  width: 30%;
  color: #2f393b;
}

.contact-input > input {
  font-family: 'Josefin Sans', sans-serif;
  width: 70%;
  color: #2f393b;
}

.input-field {
  border: 2px solid #2f393b;
  margin: 0.2em 0 0.2em 0.2em;
}

.contact-submit-btn {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  background-color: #2f393b;
  color: white;
  width: 100%;
  padding: 0.3em;
  border: 0px;
  transition: 0.5s;
}

.contact-submit-btn:hover {
  background-color: orange;
}
