/* CONTACT EMAIL FORM
-------------------------------------------------------*/
.contact-textarea {
  border: 2px solid #2f393b;
  border-radius: 0;
  width: 100%;
  resize: vertical;
  color: #2f393b;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
}

.contact-input {
  width: 100%;
}

.contact-input > label {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  margin: 0;
  color: #2f393b;
}

.contact-input > input {
  font-family: 'Josefin Sans', sans-serif;
  color: #2f393b;
  width: inherit;
  margin: 0 0 1em 0;
  padding: 0;
}

.input-field {
  border: 2px solid #2f393b;
  margin: 0.2em;
}

.contact-submit-btn {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.75em;
  background-color: #2f393b;
  color: white;
  width: 100%;
  padding: 0.3em;
  border: 0px;
  transition: 0.5s;
}

.contact-submit-btn:hover {
  background-color: orange;
}
